 /* Style the form - display items horizontally */
 .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float:left;
    width:20%;
    margin-left:5%;
    margin-top:20px;
  }

  .chart {
    display: flex;
    margin-left: 25%;
    margin-right: 5%;
    /* overflow:hidden; */
  }
  
  /* Add some margins for each label */
  .form-inline label {
    /* margin: 5px 10px 5px 0; */
    float:left;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    /* .form-inline input {
      margin: 10px 0;
    } */
    .flex-direction{
      flex-direction:column;
    }
  
    .form-inline {
      flex-direction: column;
      float:none;
      /* align-items: stretch; */
    }
    .chart {
      margin-left:0;
      margin-right:0;
      min-width:600px;
    }
  } 

  H1 { text-align: center }
  H3 { text-align: center }
  H4 { text-align: center }